.news-page {
    text-align: center;
    background-image: url("../images/featured-ep-img.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding-top: 15vh;
    padding-bottom: 35vh;
    
    }

    .first-news {
        width: 63%;
        margin:  auto ;
        font-size: 1.5em;
        font-weight: 300;
        color: rgb(255, 255, 255);
        background-color: rgba(4, 1, 1,0.2);
        border-radius: 25px;
        box-sizing:border-box;
        padding: 20px;
    }    

    .season7 {
        width: 63%;
        margin:  auto ;
        font-size: 1.5em;
        font-weight: 300;
        color: rgb(255, 255, 255);
        background-color: rgba(4, 1, 1,0.2);
        border-radius: 25px;
        box-sizing:border-box;
        padding: 20px;

    }

    .beginning {
        width: 63%;
        margin:  auto ;
        font-size: 1.5em;
        font-weight: 300;
        color: rgb(255, 255, 255);
        background-color: rgba(4, 1, 1,0.2);
        border-radius: 25px;
        box-sizing:border-box;
        padding: 20px;
    }

    .streaming {
        width: 63%;
        margin:  auto ;
        font-size: 1.5em;
        font-weight: 300;
        color: rgb(255, 255, 255);
        background-color: rgba(4, 1, 1,0.2);
        border-radius: 25px;
        box-sizing:border-box;
        padding: 20px;

    }

    .critical {
        width: 63%;
        margin:  auto ;
        font-size: 1.5em;
        font-weight: 300;
        color: rgb(255, 255, 255);
        background-color: rgba(4, 1, 1,0.2);
        border-radius: 25px;
        box-sizing:border-box;
        padding: 20px;

    }

    .possible-film {
        width: 63%;
        margin:  auto ;
        font-size: 1.5em;
        font-weight: 300;
        color: rgb(255, 255, 255);
        background-color: rgba(4, 1, 1,0.2);
        border-radius: 25px;
        box-sizing:border-box;
        padding: 20px;

    }

    .awards {
        width: 63%;
        margin:  auto ;
        font-size: 1.5em;
        font-weight: 300;
        color: rgb(255, 255, 255);
        background-color: rgba(4, 1, 1,0.2);
        border-radius: 25px;
        box-sizing:border-box;
        padding: 20px;


    }

   