footer {

    background-color: purple;

}

.intro {

    height: 10vh;
    width: 60%;
    margin: 0 auto;    
    font-size: 20px;
    color: black;
}
  
.link1 {
    display: flex;
    flex-direction: column;

}